
{% load static %}
{% load react %}
{% load utils %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}{% endblock %}</title>

        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'styles/base.css' %}" />

        {% block styles %}{% endblock %}
    </head>

    <body>
        <!-- Importar react y dependencias relacionadas -->
        {% include_react %}
        <!---->

        <!-- Registrar componentes a usar-->
        <script type="text/babel" src="{% static 'components/PasswordInput.js' %}"></script>
        <script type="text/babel" src="{% static 'components/ImageInput.js' %}"></script>
        <script type="text/babel" src="{% static 'components/FileInput.js' %}"></script>
        <script type="text/babel" src="{% static 'components/ImageUploadForm.js' %}"></script>
        <script type="text/babel" src="{% static 'components/PublicacionCard.js' %}"></script>
        <script type="text/babel" src="{% static 'components/GoUpButton.js' %}"></script>
        <script type="text/babel" src="{% static 'components/ApplicationBar.js' %}"></script>
        <script type="text/babel" src="{% static 'components/MultiSelectInput.js' %}"></script>
        
        {% block scripts %}{% endblock %}
        <!---->

        <!-- Contenedor de la app -->
        <script id='content' type="text/template">
            <ApplicationBar {% if user.is_authenticated %} user={ {{ user|json }} } {% endif %} title="UCSE Investigación" loginLink="{% url 'login' %}"></ApplicationBar>
            
            <MaterialUI.Box>
                {% block content %}{%endblock%}
            </MaterialUI.Box>
        </script>
        
        <div id="app"></div>
        <!---->
        
        <!-- Iniciar contenedor de la App -->
        {% react_container mount='#app' %}
        <!---->
    </body>
</html>
