{% extends "base.html" %}
{% load utils %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block content %}
    <MaterialUI.Box pt={15} style={ { overflowY: 'none' } }>
        <MaterialUI.Grid container>
            <MaterialUI.Grid item xs={12} md={2} lg={2}></MaterialUI.Grid>

            <MaterialUI.Grid item xs={12} md={4} lg={2}>
                    <MaterialUI.Paper elevation={1}>
                        <MaterialUI.Box p={2} pb={1} pt={3}>
                            <MaterialUI.Grid container>
                                <MaterialUI.Grid item xs={12}>
                                    {% if user.is_authenticated %}
                                        <div style={ { float: 'left', marginLeft: '.6rem', marginRight: '.5rem' } }>
                                            <ImageUploadForm
                                                height={46}
                                                width={46}
                                                csrf="{{ csrf_token }}"
                                                placeholderLoad="{% static 'img/cameraholder.png' %}"
                                                placeholderShow="{% static '' %}"
                                                uploadto="{% url 'actualizar_foto' %}"
                                                next="inicio"
                                                src="{% if user.imagen %}{{ user.imagen.url }}{% endif %}"
                                            ></ImageUploadForm>
                                        </div>

                                        <MaterialUI.Typography component="span">
                                            <p style={ {marginBottom:8} }><span style={ { fontWeight: 'bold' } }>@{{ user.username }}</span></p>
                                        </MaterialUI.Typography>

                                        <MaterialUI.MenuList>
                                            <MaterialUI.MenuItem component={MaterialUI.Link} href="{% url 'perfil' %}">Mi Perfil</MaterialUI.MenuItem>
                                            
                                            {% if user.is_superuser %}
                                                <MaterialUI.MenuItem component={MaterialUI.Link} href="{% url 'admin:index' %}">Administrar Sitio</MaterialUI.MenuItem>
                                            {% endif %}

                                            <MaterialUI.MenuItem style={ {color: 'red'} } component={MaterialUI.Link} href="{% url 'logout' %}">
                                                <MaterialUI.Icon style={ {color: 'red', marginRight: 7} }>logout</MaterialUI.Icon>
                                                Logout
                                            </MaterialUI.MenuItem>
                                        </MaterialUI.MenuList>
                                    {% else %}
                                        <MaterialUI.Typography component="span" align="center">
                                            <p style={ {fontWeight: 'bold'} }>¡Ingresá y empezá a contribuir!</p>
                                        </MaterialUI.Typography>
                                        <MaterialUI.Button style={ { width:'100%', marginBottom: 10 } } variant="outlined" color="default" href="{% url 'login' %}">
                                            <MaterialUI.Icon style={ { marginRight: '6px' } }>login</MaterialUI.Icon>
                                            Ingresar
                                        </MaterialUI.Button>
                                    {% endif %}
                                </MaterialUI.Grid>

                                <MaterialUI.Grid item xs={12}>
                                    <MaterialUI.Button 
                                        startIcon={(<MaterialUI.Icon>add</MaterialUI.Icon>)}
                                        style={ {width:'100%'} } 
                                        variant="outlined" 
                                        color="primary" 
                                        href="{% url 'publicar' %}">
                                        PUBLICAR
                                    </MaterialUI.Button>
                                </MaterialUI.Grid>
                            </MaterialUI.Grid>
                        </MaterialUI.Box>
                    </MaterialUI.Paper>
            </MaterialUI.Grid>

            <MaterialUI.Grid item xs={12} md={4} style={ { paddingLeft: 40, paddingRight: 20 } }>
                {% if publicaciones or action == 'FILTRAR' %}
                    <MaterialUI.Grid id="publicaciones-filtro" container className="gridContainer">
                        <MaterialUI.Grid xs={12} item className="gridItem">
                            <form method="GET" action="/">
                                <MaterialUI.Grid container style={ { marginTop: '20px' } }>
                                    <MaterialUI.Grid xs={12} sm={12} md={3} style={ {marginRight: '20px'} } item className="gridItem">
                                        <MaterialUI.TextField
                                        name="filtro_anio"
                                        label="Filtrar Año"
                                        placeholder="Todos"
                                        type="number"

                                        {%if filtro_anio %}
                                            defaultValue={ {{filtro_anio}} }
                                        {% endif %}

                                        InputLabelProps={{
                                            shrink: true,
                                        }}

                                        variant="outlined"
                                        />
                                    </MaterialUI.Grid>
                                    <MaterialUI.Grid xs={12} sm={9} md={6} item className="gridItem">
                                        <MultiSelectInput
                                            label="Filtrar por carrera..."
                                            className='stretch'
                                            name="filtro_carreras"
                                            placeholder="Viendo Todas"
                                            value={ {{ filtro_carreras|json }} }
                                            options={ {{ carreras|json }} }
                                        ></MultiSelectInput>
                                    </MaterialUI.Grid>
                                    <MaterialUI.Grid xs={12} sm={3} md={2} item className="gridItem" style={ { marginBottom: '2.5em' } }>
                                        <MaterialUI.Button name="action" role="submit" type="submit" value="FILTRAR" variant="outlined" style={ { marginTop:'10px', marginLeft: '15px' } }>FILTRAR</MaterialUI.Button>
                                    </MaterialUI.Grid>
                                </MaterialUI.Grid>
                            </form>
                        </MaterialUI.Grid>
                    </MaterialUI.Grid>
                {% endif %}

                <MaterialUI.Grid container className="gridContainer">
                    {% if publicaciones.count %}
                        {% for publicacion in publicaciones %}
                            <MaterialUI.Grid xs={12} item style={ { marginBottom: '2.5em' } }>
                                <PublicacionCard
                                    usuario={ {{ publicacion.usuario|json }} }
                                    titulo="{{ publicacion.titulo }}"
                                    fecha="{{ publicacion.fecha_creacion }}"
                                    resumen="{{ publicacion.resumen }}"
                                    ver="{% url 'publicacion' %}?id={{publicacion.id|urlencode}}"
                                    imagen="{% if publicacion.imagen %}{{ publicacion.imagen.url }}{% endif %}"
                                ></PublicacionCard>
                            </MaterialUI.Grid>
                        {% endfor %}
                    {% elif action == 'FILTRAR' %}
                        <MaterialUI.Grid xs={12} item style={ { marginBottom: '2.5em' } }>
                            <MaterialUI.Typography component="div">
                                <p>No hay resultados que coincidan con tus filtros.</p>
                            </MaterialUI.Typography>
                        </MaterialUI.Grid>
                    {% else %}
                        <MaterialUI.Grid xs={12} item style={ { marginBottom: '2.5em' } }>
                            <PublicacionCard
                                resumenTitle="Oh, ¡parece que aún no hay investigaciones publicadas!"
                                resumen="¡Contribuí a una gran comunidad en crecimiento aportando nuevo conocimiento!"
                                ver="{% url 'publicar' %}"
                                imagen="{% static 'img/content_placeholder.png' %}"
                            ></PublicacionCard>
                        </MaterialUI.Grid>
                    {% endif %}
                </MaterialUI.Grid>

                <GoUpButton anchor="#publicaciones-filtro"></GoUpButton>
            </MaterialUI.Grid>

            <MaterialUI.Grid xs={12} lg={4} item></MaterialUI.Grid>
        </MaterialUI.Grid>
    </MaterialUI.Box>
{% endblock %}
