{% extends "base.html" %}

{% block title %} Repositorio {% endblock %}

{% block content %}
    <h1>
        Trabajos de investigacion UCSE DAR
    </h1>

    {% for publicacion in publicaciones %}
        <h1>"{{ publicacion.titulo }}"  {{ publicacion.fecha_creacion }}</h1>
        <p>{{ publicacion.resumen }} </p>
        <div>
            <a href="{% url 'publicacion' %}?id={{publicacion.id|urlencode}}">Ver</a>
        </div>
    {% endfor %}


    <div>
        <a href="{% url 'publicar' %}"> Crear nueva publicacion!</a>
    </div>

{% endblock %}
