<!-- https://babeljs.io/docs/en/next/babel-standalone.html -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<!-- https://reactjs.org/docs/cdn-links.html -->

<script crossorigin src="https://unpkg.com/react@16/umd/react.{{ environment }}.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.{{ environment }}.js"></script>
<script crossorigin src="https://unpkg.com/@material-ui/core@latest/umd/material-ui.{{ environment }}.js"></script>
<script crossorigin src="https://cdn.jsdelivr.net/npm/material-ui-lab-umd@4.0.0-alpha.32/material-ui-lab.{{ environment }}.min.js"></script>
<script crossorigin src="https://unpkg.com/clsx@1.1.1/dist/clsx.min.js"></script>
<script crossorigin src="https://unpkg.com/lodash@1.0.2/dist/lodash.min.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js" integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
