{% extends 'base.html' %}

{% block title %} Cambiar contraseña {% endblock %}

{% block content %}
        <MaterialUI.Grid container>
            <MaterialUI.Grid xs={12} md={4} item></MaterialUI.Grid>

            <MaterialUI.Grid xs={12} md={4} style={ { marginTop: 6 + 'em', zIndex: '1' } } item>
                <MaterialUI.Paper elevation={3} style={ { padding: '2em 2em' } } className="panel rounded">
                    <MaterialUI.Grid container>
                        <MaterialUI.Grid xs={12} item>
                            <MaterialUI.Typography align='center' component='div'>
                                <h2>Iniciar Sesión</h2>
                            </MaterialUI.Typography>
                        </MaterialUI.Grid>

                        <MaterialUI.Grid xs={12} item>
                            {% include 'forms/form.html' with submit="CONFIRMAR" method="POST" %}
                        </MaterialUI.Grid>
                        
                        <MaterialUI.Grid xs={12} md={10} item>
                            
                        </MaterialUI.Grid>
                    </MaterialUI.Grid>
                </MaterialUI.Paper>
            </MaterialUI.Grid>

            <MaterialUI.Grid xs={12} md={4} item></MaterialUI.Grid>
        </MaterialUI.Grid>
{% endblock %}